.cell {
  height: 20px;
  width: 20px;
  border: solid black 1px;
}

#header {
  background-color: green;
  color: white;
  font-family: 'Lucida Console'; Monaco, monospace;
}

#instructions {
  font-family: 'Lucida Console'; Monaco, monospace;
}

table {
  border-collapse: collapse;
  font-family: 'Lucida Console'; Monaco, monospace;
}

#myTable {
  margin: auto;
}

#commands, #inputs {
  border: solid black 2px;
  background-color: #6dc066;
  padding: 10px;
}

#commandTable thead th{
  padding: 3px;
}

#commandTable tr * {
  text-align: center;
}

#home {
  text-align: right;
}

.test {
  background-color: purple;
}

#exampleBox, #savedCommandsBox {
  height: 200px;
  border: black solid 2px;
  background-color: #faebd7;
}

.turtle {
  background-color: green;
  /*background-size: 20px 20px;
  background-image: url("../media/turtle.png");*/
}

.drawn {
  background-color: black;
}

h1 {
  text-align: center;
}

body {
  background-color: #faebd7;
}
